.cribslist {
    padding: 5rem 0;
  }
  .cribslist-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
  }
  
  @media screen and (min-width: 776px) {
    .cribslist-center {
      width: 90vw;
    }
  }
  @media screen and (min-width: 992px) {
    .cribslist-center {
  
    }
  }