
   
.comments {
  margin-top: 20px;
  background: black;
}
.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
   color: white;
}
.comment-form-title {
  margin-top: 40px;
  color:white 
}



  
  @media screen and (min-width: 776px) {
    .cribslist-center {
      width: 90vw;
    }
  }
  @media screen and (min-width: 992px) {
    .cribslist-center {
  
    }
  }