
  .hero-container {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url(http://source.unsplash.com/1600x900/?high-rise-buildings);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(54, 41, 41, 0.2);
    object-fit: contain;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  }

  
  .hero-container > h1 {
    color: rgb(255, 254, 254);
    font-size: 70px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      text-align: center;
  }
    /* .hero-container-blur > *:not(.hero-btns){ */
  .hero-container-blur {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url(http://source.unsplash.com/1600x900/?high-rise-buildings);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(54, 41, 41, 0.2);
    object-fit: contain;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    /* height: 100%;
    overflow: hidden; */
}
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
    
    
      
    
  }

  /* Attach fadeIn to whatever HTML/CSS elements & classes it should operate on */
  @keyframes fadeIn { /* fadeIn is the name of the animation */
    from { /* how the animation starts */
      opacity: 0;
    }

    to { /* how the animation ends */
      opacity: 1;
    }
  }

